html {
	--c-bg-page: oklch(94% 0.005 30);
	--c-bg-shadow: oklch(88% 0.0001 300);
	--c-bg-highlight: oklch(99% 0.005 30);
	--c-text: oklch(40% .02 200);
	--c-text-subtle: oklch(75% .02 200);
}

body {
	background: var(--c-bg-page);
	color: var(--c-text);
	font-family: system-ui;
	-webkit-user-select: none;
	user-select: none;
}

.app-name {
	background: linear-gradient(to bottom, #fff 0, color(display-p3 0.613 0.605 0.552) 38%, color(display-p3 0.486 0.431 0.507), #333 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: default;
	font-size: var(--app-fs);
	font-style: italic;
	font-weight: 900;
	line-height: 1;
	text-align: center;
	text-shadow:
		0 -1px 1px rgba(0, 0, 0, .15),
		0 -1px 3px rgba(0, 0, 0, .025),
		0 1px 2px #fff6;
	-webkit-user-select: none;
	user-select: none;
}

.board {
	--size: 4;
	--total-count: calc(var(--size) * var(--size));
	--gap: .0625em;
	align-content: center;
	aspect-ratio: 1 / 1;
	background: var(--c-bg-shadow);
	border-radius: 7px;
	box-shadow:
		0 0 1px #fff9,
		inset 0 0 1px #0001,
		inset 0 1px 2px #0001,
		inset 0 1px 4px #0001,
		inset 0 2px 8px #0001;
	display: grid;
	font-size: clamp(.5em, 10vw, 4em);
	grid-gap: var(--gap);
	grid-template-columns: repeat(var(--size), 2em);
	grid-template-rows: repeat(var(--size), 2em);
	justify-content: center;
	margin: 0 auto;
	max-width: 100%;
	padding: .125em;
	width: min-content;
}

.piece {
	--row: 1;
	--column: 1;
	aspect-ratio: 1 / 1;
	background: var(--c-bg-highlight) linear-gradient(#0000, #0001);
	border: none;
	border-radius: 5px;
	box-shadow:
		inset 0 1px 1px #fff8,
		inset 0 0 1px #0001,
		0 1px 2px #0002,
		0 1px 4px #0002,
		0 2px 8px #0001;
	color: inherit;
	display: block;
	grid-row-start: var(--row);
	grid-column-start: var(--column);
	font-size: 85%;
	font-weight: 500;
	letter-spacing: -.05em;
	padding: 0;
	text-align: center;
	text-shadow: 0 1px 1px #fffc,
		0 -1px 1px #0004;
}

.img-bg {
	--bg-image: url("../img/board-bluey.webp");
	color: black;
}

.img-bg .piece {
	--img-y: calc(100% / var(--size) * var(--y-m) + (var(--y-m) - 1) * var(--gap));
	--img-x: calc(100% / var(--size) * var(--x-m) + (var(--x-m) - 1) * var(--gap));
	background-image: var(--bg-image);
	background-size: calc(var(--size) * 100% + (var(--size) - 1) * var(--gap));
	background-position-x: var(--img-x);
	background-position-y: var(--img-y);
}

.img-bg .piece[data-goal-row="0"],
.img-bg .piece[data-goal-row="1"] {
	--y-m: 0;
}

.img-bg .piece[data-goal-column="0"],
.img-bg .piece[data-goal-column="1"] {
	--x-m: 0;
}

.img-bg .piece[data-goal-row="2"] {
	--y-m: 1;
}

.img-bg .piece[data-goal-column="2"] {
	--x-m: 1;
}

.img-bg .piece[data-goal-row="3"] {
	--y-m: 2;
}

.img-bg .piece[data-goal-column="3"] {
	--x-m: 2;
}

.img-bg .piece[data-goal-row="4"] {
	--y-m: 4;
}

.img-bg .piece[data-goal-column="4"] {
	--x-m: 4;
}

.color-bg {
	--bg-color: oklch(75% .25 50);
	color: black;
}

.color-bg .piece {
	background-color: var(--bg-color);
}

.color-bg.rainbow .piece {
	--hue: calc(var(--order) / var(--total-count) * 360);
	--bg-color: oklch(75% .25 var(--hue));
}

.piece.empty {
	background: none;
	color: transparent;
	box-shadow: none;
	text-shadow: none;
}

.piece[class*="slide"] {
	transition: transform .375s cubic-bezier(.25, 0, .75, 1.25) .075s;
}

.slide-up {
	transform: translateY(-105%);
}

.slide-down {
	transform: translateY(105%);
}

.slide-left {
	transform: translateX(-105%);
}

.slide-right {
	transform: translateX(105%);
}